ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 85%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #cccccc;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Poppins';
}

.login-btn {
  background: #4E070C;
  color: white;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.divider {
  text-align: center;
  color: #444;
  margin-top: 10px;
  font-size: 14px;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-circle {
  width: 40px;
  height: 40px;
  background: #FDE4CE;
  color: #111;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}
