ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 85%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.register-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #cccccc;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Poppins';
  background: white;
}

.register-btn {
  background: #4E070C;
  color: white;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
