 /* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --offset-bottom: 0px !important;
  --overflow: hidden;
}
