.profile-page {
  --background: #111;
  text-align: center;
  padding-top: 20px;
}

/* Flecha */
.back-icon {
  position: absolute;
  top: 20px;
  left: 16px;
  z-index: 10;
  --padding-start: 0;
  --padding-end: 0;
  color: #FFFFFF;
}


/* Título */
.app-title {
  font-size: 34px;
  font-weight: bold;
  color: white;
  margin-top: 150px;
  
}

/* Avatar grande */
.avatar-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  background-color: #D22701;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-letter {
  font-size: 54px;
  color: white;
  font-weight: bold;
}

/* Nombre */
.name {
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.username {
  color: #ccc;
  margin-bottom: 20px;
}

/* Botones */
.buttons-container {
  width: 85%;
  margin: auto;
}

.action-btn {
  margin-top: 12px;
  --background:#FFFFFF;
  --border-radius: 20px;
}

/* --- Barra inferior tipo Pinterest --- */

.bottom-nav {
  background-color: #000;
  border-top: 1px solid #222;
}

.bottom-nav ion-icon {
  font-size: 28px;
  color: white;
}

/* Avatar pequeño del menú */
.small-avatar {
  width: 32px;
  height: 32px;
  background-color: #D22701;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.small-avatar-letter {
  color: white;
  font-weight: bold;
}
